*
{
  margin: 0px;
  padding: 0px;
}
.sidebar
{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 640px;
    background:rgba(0,0,0,0.4);
    z-index: 1;
}
.logo {
  height: 170px;
  text-align: center;
  width: 220px;
  color: white;
  font-size: 25px;
  margin-left:70px ;
  margin-top: 25px;
  
  }
  
  .border1,
  .border2 {
    border: 1px solid #fff;
    position: relative;
  }
  
  .border2{
    
    top: 10px;
    left: 10px;
  }
  .side_menu
  {
    text-align: center;
    margin-top: 30px;
   
  }
  
  .side_menu ul
  {
    list-style-type: none;
    

  }
  .side_menu a
  {
    text-decoration: none;
    color: #fff;
  }
  .side_menu li
  {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
  }
  .side_menu li:hover
  {
    list-style-type: square;
    list-style-position: inside;
    
  }
 
  .social_icon ul
  {
    display: flex;
    color: #fff;
    list-style-type: none;
    margin-top: 30px;
    justify-content: space-evenly;
  }
  
  
  .social_link{
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social_link:hover
 {
    background-color: #069;
    color: white;
  }
  .social_icon a
  {
    text-decoration: none;
  }
  .footer
  {
    margin-top: 30px;
    text-align: center;
    color: #fff;
  }
  
    
.slider
{
   
    height: 640px;
    width: 100%;
  
    box-sizing: border-box;
    position: relative;

}
.intro
{
  position: absolute;
  top:70px;
  left:710px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  width: 350px;
  transform:translate(200px,100px);
  padding: 20px;
}
.intro h2
{
  text-align: center;
  color:lightblue ;
}

.sidebar2
{

    position: fixed;
    top: 640px;
    bottom: 0;
    left: 0;
    width: 350px;
    
    background:rgba(0,0,0,10);
    z-index: 1;
}
.row1
{
  position: absolute;
  left:350px ;
  display: flex;
}
.about_us,.com_profile
{
  background-color:white;
  height: 200px;
  width: 400px;
  margin: 50px;
  
}

.primary
{
  color: #369;
  margin-bottom: 10px;
}
.row2
{
  width: 900px;
  border: 10px double black;
  position: absolute;
  top:1000px;
  left: 350px;
  
  
  margin: 20px;
  /* padding: 20px; */
  height: 400px;
  align-content: space-around;
}
.row2 h2
{
  display: inline;
  margin-left: 20px;
  color:#369;
}
.col
{
  display: flex;
  justify-content: space-around;
}
.row3
{
  width: 600px;
  position: absolute;
  top:1500px;
  left: 400px;

  
}
.row3 h2
{
  color:#369;
  margin-bottom: 20px;
}
.row3 p
{
  line-height: 30px;
}
.row4
{
  position: absolute;
  top:1700px;
  left: 400px;
}
.col4
{
 display: flex;
 flex-wrap: wrap; 
 justify-content: space-evenly;
gap: 10px;
}
.co1
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 180px;
  height: 100px;
}

.row5
{
  position: absolute;
  top:2000px;
  left: 400px;
  display: flex;
}
.col5_1
{
  width: 450px;
  border: 8px double black;
  padding: 20px;
}
.col5_1 h2
{
  color:#369;
}
.col5_2
{
  
  align-items: center;
  margin-left:100px ;
  
}

.col5_2 input[type="text"],input[type="email"],.tex
{
  margin-top: 20px;
  border:none;
  border-bottom: 2px solid black;
  height: 25px;
  outline: none;
  
}
.col5_2 button
{
  margin-left: 120px;
  margin-top: 20px;
}