
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FEF9E1;
    position: relative;
}
.logo {
    width: 10%;
}
.logo img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.menu {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}
.ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.li {
    font-size: 16px;
    letter-spacing: 2px;
}
.li a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.li a:hover {
    background-color: skyblue;
    padding: 5px;
    border-radius: 4px;
}
@media screen and (max-width: 768px) {
    .icon {
        display: block;
    }
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #E5D0AC;
        
        width: 100%;
    }
    .menu.active {
        display: flex;
    }
    .ul {
        flex-direction: column;
       margin-left:10px ;
        gap: 10px;
    }
}
